In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
%matplotlib inline

In [2]:
datacom = pd.read_csv('Cancer_Cases_In_America.csv')
datacom.head()

   Year   States  States Code   Age Groups  Count
0  1999  Alabama            1    5-9 years     19
1  1999  Alabama            1  10-14 years     30
2  1999  Alabama            1  15-19 years     33
3  1999  Alabama            1  20-24 years     66
4  1999  Alabama            1  25-29 years    103

In [3]:
datasum =datacom.groupby(['Year','States'])['Count'].sum().reset_index()
datasum.head()

   Year      States   Count
0  1999     Alabama   17778
1  1999      Alaska    1796
2  1999     Arizona   19377
3  1999  California  124929
4  1999    Colorado   14833

In [4]:
df_for_code = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

In [5]:
Year_2013 = datasum[datasum.Year == 2013].reset_index()
Year_2012 = datasum[datasum.Year == 2012].reset_index()
Year_2011 = datasum[datasum.Year == 2011].reset_index()
Year_2010 = datasum[datasum.Year == 2010].reset_index()
Year_2009 = datasum[datasum.Year == 2009].reset_index()
Year_2008 = datasum[datasum.Year == 2008].reset_index()
Year_2007 = datasum[datasum.Year == 2007].reset_index()
Year_2006 = datasum[datasum.Year == 2006].reset_index()
Year_2005 = datasum[datasum.Year == 2005].reset_index()
Year_2004 = datasum[datasum.Year == 2004].reset_index()
Year_2003 = datasum[datasum.Year == 2003].reset_index()
Year_2002 = datasum[datasum.Year == 2002].reset_index()
Year_2001 = datasum[datasum.Year == 2001].reset_index()
Year_2000 = datasum[datasum.Year == 2000].reset_index()
Year_1999 = datasum[datasum.Year == 1999].reset_index()
Year_2013.head()

   index  Year      States   Count
0    695  2013     Alabama   23084
1    696  2013      Alaska    2364
2    697  2013     Arizona   25567
3    698  2013    Arkansas   14482
4    699  2013  California  144380

In [6]:
The_Codes = df_for_code[['code']]
The_Codes.head()

  code
0   AL
1   AK
2   AZ
3   AR
4   CA

In [7]:
Year_1999 = Year_1999.rename(columns={'index': 'index_1999', 'Year': 'Year_1999', 'States':'States_1999', 'Count':'Count_1999'})
Year_2000 = Year_2000.rename(columns={'index': 'index_2000', 'Year': 'Year_2000', 'States':'States_2000', 'Count':'Count_2000'})
Year_2001 = Year_2001.rename(columns={'index': 'index_2001', 'Year': 'Year_2001', 'States':'States_2001', 'Count':'Count_2001'})
Year_2002 = Year_2002.rename(columns={'index': 'index_2002', 'Year': 'Year_2002', 'States':'States_2002', 'Count':'Count_2002'})
Year_2003 = Year_2003.rename(columns={'index': 'index_2003', 'Year': 'Year_2003', 'States':'States_2003', 'Count':'Count_2003'})
Year_2004 = Year_2004.rename(columns={'index': 'index_2004', 'Year': 'Year_2004', 'States':'States_2004', 'Count':'Count_2004'})
Year_2005 = Year_2005.rename(columns={'index': 'index_2005', 'Year': 'Year_2005', 'States':'States_2005', 'Count':'Count_2005'})
Year_2006 = Year_2006.rename(columns={'index': 'index_2006', 'Year': 'Year_2006', 'States':'States_2006', 'Count':'Count_2006'})
Year_2007 = Year_2007.rename(columns={'index': 'index_2007', 'Year': 'Year_2007', 'States':'States_2007', 'Count':'Count_2007'})
Year_2008 = Year_2008.rename(columns={'index': 'index_2008', 'Year': 'Year_2008', 'States':'States_2008', 'Count':'Count_2008'})
Year_2009 = Year_2009.rename(columns={'index': 'index_2009', 'Year': 'Year_2009', 'States':'States_2009', 'Count':'Count_2009'})
Year_2010 = Year_2010.rename(columns={'index': 'index_2010', 'Year': 'Year_2010', 'States':'States_2010', 'Count':'Count_2010'})
Year_2011 = Year_2013.rename(columns={'index': 'index_2011', 'Year': 'Year_2011', 'States':'States_2011', 'Count':'Count_2011'})
Year_2012 = Year_2012.rename(columns={'index': 'index_2012', 'Year': 'Year_2012', 'States':'States_2012', 'Count':'Count_2012'})
Year_2013 = Year_2013.rename(columns={'index': 'index_2013', 'Year': 'Year_2013', 'States':'States_2013', 'Count':'Count_2013'})
Year_2013.head()

   index_2013  Year_2013 States_2013  Count_2013
0         695       2013     Alabama       23084
1         696       2013      Alaska        2364
2         697       2013     Arizona       25567
3         698       2013    Arkansas       14482
4         699       2013  California      144380

In [8]:
New_data = pd.concat([ The_Codes,Year_1999, Year_2000,Year_2001,Year_2002,Year_2003,Year_2004,Year_2005,Year_2006,Year_2007,Year_2008,Year_2009,Year_2010,Year_2011,Year_2012,Year_2013], axis = 1)

In [9]:
New_data.head()

,code,index_1999,Year_1999,States_1999,Count_1999,index_2000,Year_2000,States_2000,Count_2000,index_2001,...,States_2011,Count_2011,index_2012,Year_2012,States_2012,Count_2012,index_2013,Year_2013,States_2013,Count_2013
0,AL,0.0,1999.0,Alabama,17778.0,46.0,2000.0,Alabama,18253.0,92.0,...,Alabama,23084.0,645.0,2012.0,Alabama,23201.0,695.0,2013.0,Alabama,23084.0
1,AK,1.0,1999.0,Alaska,1796.0,47.0,2000.0,Alaska,1878.0,93.0,...,Alaska,2364.0,646.0,2012.0,Alaska,2321.0,696.0,2013.0,Alaska,2364.0
2,AZ,2.0,1999.0,Arizona,19377.0,48.0,2000.0,Arizona,20020.0,94.0,...,Arizona,25567.0,647.0,2012.0,Arizona,25667.0,697.0,2013.0,Arizona,25567.0
3,AR,3.0,1999.0,California,124929.0,49.0,2000.0,California,125692.0,95.0,...,Arkansas,14482.0,648.0,2012.0,Arkansas,14123.0,698.0,2013.0,Arkansas,14482.0
4,CA,4.0,1999.0,Colorado,14833.0,50.0,2000.0,Colorado,15343.0,96.0,...,California,144380.0,649.0,2012.0,California,144711.0,699.0,2013.0,California,144380.0

In [10]:
New_data['text'] = New_data['States_2013'] + '<br>' +\
    'Year '+New_data['Year_2013'].astype(str)+' Count '+New_data['Count_2013'].astype(str)+'<br>'+\
    'Year '+New_data['Year_2012'].astype(str)+' Count '+New_data['Count_2012'].astype(str)+'<br>'+\
    'Year '+New_data['Year_2011'].astype(str)+' Count '+New_data['Count_2011'].astype(str)+'<br>'+\
    'Year '+New_data['Year_2010'].astype(str)+' Count '+New_data['Count_2010'].astype(str)+'<br>'+\
    'Year '+New_data['Year_2009'].astype(str)+' Count '+New_data['Count_2009'].astype(str)+'<br>'+\
    'Year '+New_data['Year_2008'].astype(str)+' Count '+New_data['Count_2008'].astype(str)+'<br>'+\
    'Year '+New_data['Year_2007'].astype(str)+' Count '+New_data['Count_2007'].astype(str)+'<br>'+\
    'Year '+New_data['Year_2006'].astype(str)+' Count '+New_data['Count_2006'].astype(str)+'<br>'+\
    'Year '+New_data['Year_2005'].astype(str)+' Count '+New_data['Count_2005'].astype(str)+'<br>'+\
    'Year '+New_data['Year_2004'].astype(str)+' Count '+New_data['Count_2004'].astype(str)+'<br>'+\
    'Year '+New_data['Year_2003'].astype(str)+' Count '+New_data['Count_2003'].astype(str)+'<br>'+\
    'Year '+New_data['Year_2002'].astype(str)+' Count '+New_data['Count_2002'].astype(str)+'<br>'+\
    'Year '+New_data['Year_2001'].astype(str)+' Count '+New_data['Count_2001'].astype(str)+'<br>'+\
    'Year '+New_data['Year_2000'].astype(str)+' Count '+New_data['Count_2000'].astype(str)+'<br>'+\
    'Year '+New_data['Year_1999'].astype(str)+' Count '+New_data['Count_1999'].astype(str)+'<br>'+\
    'Code '+New_data['code']

In [11]:
import plotly.plotly as py
import pandas as pd
import plotly.tools as tls
tls.set_credentials_file(username='mahachi', api_key='MNTviotceAXcEQG1i8xu')

for col in New_data.columns:
    New_data[col] = New_data[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = New_data['code'],
        z = New_data['Count_2013'].astype(float),
        locationmode = 'USA-states',
        text = New_data['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Number of Individuals")
        ) ]

layout = dict(
        title = '2013 US Cancer Cases By State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

High five! You successfuly sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~mahachi/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [12]:
import plotly.tools as tls
from plotly.graph_objs import *
tls.set_credentials_file(username='mahachi', api_key='MNTviotceAXcEQG1i8xu')

trace1 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013'],
    y=['17778.0','18253.0','19312.0','19503.0','19089.0','20315.0','20848.0','21470.0','22243.0','23143.0','23065.0','23148.0','23109.0','23201.0','23084.0'],
    line=Line(
        color='rgb(183, 119, 180)',
        shape='spline'
    ),
    name='Alabama',
    uid='978aae',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:ef74ba'
)
trace2 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012', '2013'],
    y=['1796.0','1878.0','1967.0','1996.0','2017.0','2162.0','2114.0','2237.0','2249.0','2359.0','2403.0','2450.0','2387.0','2321.0','2364.0'],
    line=Line(
        color='rgb(240, 164, 202)',
        shape='spline'
    ),
    name='Alaska',
    uid='7fc4cc',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:822652'
)
trace3 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['19377.0','20020.0','20961.0','21022.0','21207.0','21855.0','22260.0','23319.0','24534.0','24159.0','25409.0','24813.0','25884.0','25667.0','25567.0'],
    line=Line(
        color='rgb(248, 132, 130)',
        shape='spline'
    ),
    name='Arizona',
    uid='cce7d8',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:14d25b'
)
trace4 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['0.0','0.0','12096.0','12213.0','12623.0','12688.0','12958.0','13214.0','13670.0','13608.0','13731.0','13940.0','13932.0','14123.0','14482.0'],
    line=Line(
        color='rgb(126, 76, 182)',
        shape='spline'
    ),
    name='Arkansas',
    uid='aa44ea',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:6dfa81'
)
trace5 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['124929.0','125692.0','128484.0','130242.0','128478.0','131920.0','133659.0','135133.0','140728.0','142628.0','144523.0','144902.0','145197.0','144711.0','144380.0'],
    line=Line(
        color='rgb(180, 138, 148)',
        shape='spline'
    ),
    name='California',
    uid='af2017',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:e7df03'
)
trace6 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['14833.0','15343.0','16041.0','16199.0','16305.0','16501.0','17077.0','17508.0','18863.0','18979.0','19588.0','19477.0','19701.0','19692.0','19687.0'],
    line=Line(
        color='rgb(197, 22, 26)',
        shape='spline'
    ),
    name='Colorado',
    uid='ecbd7f',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:e7c24a'
)
trace7 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['17341.0','17824.0','18072.0','17904.0','17788.0','17710.0','18057.0','18653.0','18790.0','18880.0','19178.0','18902.0','18781.0','18653.0','18544.0'],
    line=Line(
        color='rgb(187, 187, 187)',
        shape='spline'
    ),
    name='Connecticut',
    uid='296fd3',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:bd1cf3'
)
trace8 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['3608.0','3758.0','3903.0','3883.0','3900.0','4104.0','4417.0','4619.0','4727.0','4749.0','4758.0','4787.0','4977.0','4931.0','5161.0'],
    line=Line(
        color='rgb(247, 108, 0)',
        shape='spline'
    ),
    name='Delaware',
    uid='d03cde',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:0ea2f2'
)
trace9 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['2701.0','2686.0','2645.0','0.0','2753.0','2412.0','2479.0','2521.0','2668.0','2457.0','2534.0','2661.0','2801.0','2684.0','2459.0'],
    line=Line(
        color='rgb(175, 180, 0)',
        shape='spline'
    ),
    name='District of Columbia',
    uid='5ff82d',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:e9d491'
)
trace10 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['91158.0','94059.0','93625.0','93029.0','91546.0','91513.0','94175.0','94993.0','96835.0','98980.0','98294.0','97536.0','99231.0','98421.0','97134.0'],
    line=Line(
        color='rgb(142, 221, 207)',
        shape='spline'
    ),
    name='Florida',
    uid='123625',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:9460c2'
)
trace11 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['27998.0','30257.0','31493.0','32495.0','32599.0','33526.0','34081.0','35875.0','38368.0','39150.0','40036.0','39310.0','40900.0','41895.0','41844.0'],
    line=Line(
        color='rgb(48, 148, 0)',
        shape='spline'
    ),
    name='Georgia',
    uid='3fe7f1',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:2c4dda'
)
trace12 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['4967.0','4851.0','5079.0','5104.0','5198.0','5472.0','5533.0','5618.0','5740.0','6015.0','6116.0','6085.0','6119.0','6152.0','6330.0'], 
    line=Line(
        color='rgb(32, 76, 171)',
        shape='spline'
    ),
    name='Hawaii',
    uid='69c47b',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:c44f8b'
)
trace13 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['4723.0','5199.0','5120.0','5348.0','5407.0','5522.0','5937.0','6114.0','6505.0','6430.0','6645.0','6707.0','6797.0','6827.0','6627.0'],
    line=Line(
        color='rgb(213, 91, 187)',
        shape='spline'
    ),
    name='Idaho',
    uid='5d70fd',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:81a9db'
)
trace14 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['54339.0','54567.0','55473.0','56869.0','55498.0','56160.0','56483.0','58189.0','59281.0','60439.0','60739.0','59284.0','60675.0','59175.0','59127.0'],
    line=Line(
        color='rgb(108, 108, 108)',
        shape='spline'
    ),
    name='Illinois',
    uid='6d1358',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:965213'
)
trace15 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['25357.0','26388.0','27268.0','27453.0','27428.0','27310.0','27951.0','28880.0','29198.0','29466.0','29378.0','29695.0','29747.0','29412.0','29429.0'],
    line=Line(
        color='rgb(250, 175, 90)',
        shape='spline'
    ),
    name='Indiana',
    uid='2aa829',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:e491a1'
)
trace16 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['14628.0','14621.0','14827.0','14878.0','14479.0','14719.0','14890.0','15176.0','15208.0','15266.0','15967.0','15832.0','15850.0','15422.0','15194.0'],
    line=Line(
        color='rgb(160, 185, 230)',
        shape='spline'
    ),
    name='Iowa',
    uid='91133f',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:adf879'
)
trace17 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['12106.0','12151.0','11910.0','11949.0','12155.0','12321.0','12342.0','12717.0','13171.0','13311.0','13152.0','13162.0','13497.0','13380.0','13060.0'],
    line=Line(
        color='rgb(118, 68, 57)',
        shape='spline'
    ),
    name='Kansas',
    uid='664e02',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:1d1297'
)
trace18 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['19247.0','19717.0','19997.0','19965.0','20098.0','20533.0','20735.0','21905.0','22359.0','22576.0','22743.0','23113.0','23360.0','23819.0','23725.0'],
    line=Line(
        color='rgb(119, 64, 47)',
        shape='spline'
    ),
    name='Kentucky',
    uid='664e02',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:1d1297'
)
trace19 = Scatter(
    x=['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011','2012','2013'],
    y=['18859.0','19148.0','19534.0','19766.0','19736.0','20089.0','19147.0','19550.0','20392.0','20714.0','21433.0','21466.0','21911.0','21978.0','21972.0'],
    line=Line(
        color='rgb(100, 64, 37)',
        shape='spline'
    ),
    name='Louisiana',
    uid='664e02',
    xsrc='Dreamshot:4140:6116c7',
    ysrc='Dreamshot:4140:1d1297'
)
data = Data([trace1, trace2, trace3, trace4, trace5, trace6, trace7, trace8, trace9, trace10, trace11, trace12, trace13, trace14, trace15, trace16, trace17, trace18,trace19])
layout = Layout(
    autosize=False,
    bargap=0.2,
    bargroupgap=0,
    barmode='group',
    boxgap=0.3,
    boxgroupgap=0.3,
    boxmode='overlay',
    dragmode='zoom',
    font=Font(
        color='#444',
        family='"Open sans", verdana, arial, sans-serif',
        size=12
    ),
    height=800,
    hidesources=False,
    hovermode='x',
    legend=Legend(
        x=0.9628252788104089,
        y=1,
        bgcolor='#fff',
        bordercolor='#444',
        borderwidth=0,
        font=Font(
            color='',
            family='',
            size=0
        ),
        traceorder='normal',
        xanchor='left',
        yanchor='top'
    ),
    margin=Margin(
        r=125,
        t=80,
        autoexpand=True,
        b=80,
        l=80,
        pad=0
    ),
    paper_bgcolor='#fff',
    plot_bgcolor='#fff',
    separators='.,',
    showlegend=False,
    smith=False,
    title='Number of Cancer Cases In The United States<br> from 1999 to 2013',
    titlefont=dict(
        color='',
        family='',
        size=0
    ),
    width=725,
    xaxis=XAxis(
        anchor='y',
        autorange=True,
        domain=[0, 1],
        dtick=10,
        exponentformat='B',
        gridcolor='#eee',
        gridwidth=1,
        linecolor='#444',
        linewidth=1,
        mirror=False,
        nticks=0,
        overlaying=False,
        position=0,
        range=[1999, 2014],
        rangemode='normal',
        showexponent='all',
        showgrid=False,
        showline=False,
        showticklabels=True,
        tick0=0,
        tickangle='auto',
        tickcolor='#444',
        tickfont=dict(
            color='',
            family='',
            size=0
        ),
        ticklen=5,
        tickmode='auto',
        ticks='',
        tickwidth=1,
        title='',
        titlefont=dict(
            color='',
            family='',
            size=0
        ),
        type='linear',
        zeroline=False,
        zerolinecolor='#444',
        zerolinewidth=1
    ),
    yaxis=YAxis(
        anchor='x',
        autorange=True,
        domain=[0, 1],
        dtick=10,
        exponentformat='B',
        gridcolor='#eee',
        gridwidth=1,
        linecolor='#444',
        linewidth=1,
        mirror=False,
        nticks=0,
        overlaying=False,
        position=0,
        range=[-3.9611111111111112, 1600000],
        rangemode='normal',
        showexponent='all',
        showgrid=True,
        showline=False,
        showticklabels=True,
        tick0=0,
        tickangle='auto',
        tickcolor='#444',
        tickfont=dict(
            color='',
            family='',
            size=0
        ),
        ticklen=5,
        tickmode='auto',
        ticks='',
        tickwidth=1,
        title='Number of Cancer Cases',
        titlefont=dict(
            color='',
            family='',
            size=0
        ),
        type='linear',
        zeroline=False,
        zerolinecolor='#444',
        zerolinewidth=1
    )
)
fig = Figure(data=data, layout=layout)
plot_url = py.plot(fig)
py.plot(fig)

'https://plot.ly/~mahachi/22'

In [13]:
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='Incomplete_time_series' )